# Importing Modules

In [1]:
import pandas as pd
import requests
import numpy as np

## Requesting the data from the API

In [2]:
url = "https://vaccovid-coronavirus-vaccine-and-treatment-tracker.p.rapidapi.com/api/npm-covid-data/"

headers = {
	"X-RapidAPI-Key": "b991846a42mshb2f0fe70936a7bcp195066jsn6408b856f142",
	"X-RapidAPI-Host": "vaccovid-coronavirus-vaccine-and-treatment-tracker.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers)

## Converting the json response from the API to Data Frame

In [3]:
dataFrame = pd.DataFrame(response.json())

In [4]:
dataFrame.head(8)

,id,rank,Country,Continent,TwoLetterSymbol,ThreeLetterSymbol,Infection_Risk,Case_Fatality_Rate,Test_Percentage,Recovery_Proporation,...,ActiveCases,TotalTests,Population,one_Caseevery_X_ppl,one_Deathevery_X_ppl,one_Testevery_X_ppl,Deaths_1M_pop,Serious_Critical,Tests_1M_Pop,TotCases_1M_Pop
0,63492a0f-56d7-4c00-9ac1-d64fd5414029,0,Total:,All,None,None,0.00,1.04,0.00,96.84,...,13535705,0,0,0,0,0,847.8,35698,0,81905.5
1,40f44943-8413-4a31-a4df-deee8111f85f,0,World,All,None,None,0.00,1.04,0.00,96.84,...,13535705,0,0,0,0,0,847.8,35698,0,81905.0
2,be02608d-a52f-4586-ae9b-220dee7daaf1,1,USA,North America,us,usa,29.78,1.10,338.35,97.58,...,1312257,1132805201,334805269,3,305,0,3281.0,2622,3383475,297779.0
3,f6ecf8d7-5867-42dc-9290-24fda4cb14f0,2,India,Asia,in,ind,3.18,1.19,64.13,98.78,...,13559,902104560,1406631776,31,2651,2,377.0,698,641322,31752.0
4,911f9162-c39d-4e1c-9768-4d147cce2604,3,France,Europe,fr,fra,56.43,0.43,413.95,97.97,...,593593,271490188,65584518,2,416,0,2402.0,869,4139547,564345.0
5,4be614b7-9865-4e78-a841-7dca20abd314,4,Germany,Europe,de,deu,42.84,0.43,145.84,96.66,...,1045042,122332384,83883596,2,541,1,1848.0,1406,1458359,428363.0
6,338a3103-483a-4292-9559-1aac2ed47a90,5,Brazil,South America,br,bra,16.21,1.97,29.61,97.64,...,135182,63776166,215353593,6,313,3,3197.0,8318,296146,162103.0
7,bc4902f3-885b-4666-bbae-a159b53c831b,6,S. Korea,Asia,kr,kor,50.62,0.11,30.79,97.15,...,710518,15804065,51329899,2,1741,3,574.0,336,307892,506170.0

In [5]:
dataFrame.shape

(222, 26)

In [6]:
dataFrame.to_csv("Covid.csv")

In [7]:
covData = pd.read_csv('Covid.csv', index_col='rank', usecols=['id', 'rank' , 'Country', 'Continent', 'Infection_Risk', 'Case_Fatality_Rate',
       'Test_Percentage', 'Recovery_Proporation', 'TotalCases', 'NewCases',
       'TotalDeaths', 'NewDeaths', 'TotalRecovered', 'NewRecovered',
       'ActiveCases', 'TotalTests', 'Population', 'one_Caseevery_X_ppl',
       'one_Deathevery_X_ppl', 'one_Testevery_X_ppl', 'Deaths_1M_pop',
       'Serious_Critical', 'Tests_1M_Pop', 'TotCases_1M_Pop'])
covData.head()

,id,Country,Continent,Infection_Risk,Case_Fatality_Rate,Test_Percentage,Recovery_Proporation,TotalCases,NewCases,TotalDeaths,...,ActiveCases,TotalTests,Population,one_Caseevery_X_ppl,one_Deathevery_X_ppl,one_Testevery_X_ppl,Deaths_1M_pop,Serious_Critical,Tests_1M_Pop,TotCases_1M_Pop
rank,,,,,,,,,,,,,,,,,,,,,
0,63492a0f-56d7-4c00-9ac1-d64fd5414029,Total:,All,0.00,1.04,0.00,96.84,638436604,67303,6608108,...,13535705,0,0,0,0,0,847.8,35698,0,81905.5
0,40f44943-8413-4a31-a4df-deee8111f85f,World,All,0.00,1.04,0.00,96.84,638436604,67303,6608108,...,13535705,0,0,0,0,0,847.8,35698,0,81905.0
1,be02608d-a52f-4586-ae9b-220dee7daaf1,USA,North America,29.78,1.10,338.35,97.58,99697922,0,1098524,...,1312257,1132805201,334805269,3,305,0,3281.0,2622,3383475,297779.0
2,f6ecf8d7-5867-42dc-9290-24fda4cb14f0,India,Asia,3.18,1.19,64.13,98.78,44662952,0,530511,...,13559,902104560,1406631776,31,2651,2,377.0,698,641322,31752.0
3,911f9162-c39d-4e1c-9768-4d147cce2604,France,Europe,56.43,0.43,413.95,97.97,37012318,0,157546,...,593593,271490188,65584518,2,416,0,2402.0,869,4139547,564345.0

In [8]:
covData = covData.iloc[2:]
covData.head()

,id,Country,Continent,Infection_Risk,Case_Fatality_Rate,Test_Percentage,Recovery_Proporation,TotalCases,NewCases,TotalDeaths,...,ActiveCases,TotalTests,Population,one_Caseevery_X_ppl,one_Deathevery_X_ppl,one_Testevery_X_ppl,Deaths_1M_pop,Serious_Critical,Tests_1M_Pop,TotCases_1M_Pop
rank,,,,,,,,,,,,,,,,,,,,,
1,be02608d-a52f-4586-ae9b-220dee7daaf1,USA,North America,29.78,1.10,338.35,97.58,99697922,0,1098524,...,1312257,1132805201,334805269,3,305,0,3281.0,2622,3383475,297779.0
2,f6ecf8d7-5867-42dc-9290-24fda4cb14f0,India,Asia,3.18,1.19,64.13,98.78,44662952,0,530511,...,13559,902104560,1406631776,31,2651,2,377.0,698,641322,31752.0
3,911f9162-c39d-4e1c-9768-4d147cce2604,France,Europe,56.43,0.43,413.95,97.97,37012318,0,157546,...,593593,271490188,65584518,2,416,0,2402.0,869,4139547,564345.0
4,4be614b7-9865-4e78-a841-7dca20abd314,Germany,Europe,42.84,0.43,145.84,96.66,35932654,0,155012,...,1045042,122332384,83883596,2,541,1,1848.0,1406,1458359,428363.0
5,338a3103-483a-4292-9559-1aac2ed47a90,Brazil,South America,16.21,1.97,29.61,97.64,34909480,0,688539,...,135182,63776166,215353593,6,313,3,3197.0,8318,296146,162103.0

## Converting from Data Frame to a csv file

In [9]:
covData.to_csv('UpDataCovid.csv')